header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 0 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    margin-inline: 2.5rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-primary-5);
}

:is(nav ul li a:hover, nav ul li a:focus){
    color: var(--color-primary-1);
}


@media screen and (max-width: 640px) {

    header{
        padding: 0 .5rem;
    }


    nav{
        position: absolute;
        top: -10000px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 80%;
        background-color: white;
        z-index: -1;
        gap: 2rem;
    }

    :is(header:focus nav, header:hover nav){
        top: 0;
    }

 
    
}
